<!-- Portfolio -->
<div class="wrapper portfolio backgroundGrey fontWhite">
  <div class="container backgroundGrey">
    <h2 class="text-center">Portfolio</h2>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>I have written a lot of code for work as well as many types of projects for my Github. <br>
          Due to there being so much spread all over the place, consider the below refences.<br>
          My work code is commented and tagged.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title fontBlack">Portfolio</h5>
            <p class="card-text fontBlack">I wrote this app in 2016. It is out of date, but still relevant.</p>
            <a href="http://steven-daniell-jackson.github.io/portfolio/" target="_blank" class="btn btn-primary text-center">Old
              Portfolio</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title fontBlack">Client List</h5>
            <p class="card-text fontBlack">A Google Document with Clients have I worked on. </p>
            <a href="http://steven-daniell-jackson.github.io/portfolio/" target="_blank" class="btn btn-primary">Old
              Portfolio</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title fontBlack">Task History</h5>
            <p class="card-text fontBlack">List containing all my recorded tasks.</p>
            <a href="taskhistory"class="btn btn-primary">Task History</a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- container -->
</div> <!-- Portfolio wrapper -->
