<!-- Work Life -->
<div class="wrapper work-life backgroundGrey fontWhite">
  <div class="container backgroundGrey">

    <h2 class="text-center">Work Life</h2>
    <div class="row">
      <div class="col-md-6 text-justify">
        <p>
          I am very passionate about my work and always striving to improve myself. I do not require anything besides
          some music and time to resolve the problem.
          If I cannot resolve the problem, I do not mind asking for a little assistance or direction, but I prefer to
          resolve things on my own with research and practice.
          I am document-orientated, enjoy time-tracking my work and can vocalize coding concepts into easy to
          understand words for non-coders.
          I am always striving to improve myself and like to use time-tracking as a way to beat my "High Score" as well
          as keep a log for possible reference in the future.
        </p>

      </div>

      <div class="col-md-6">
          <p>What I am like in the work place:</p>
      <div class="row">


          <div class="col-md-6 text-justify">

              <ul>
                <li>Passionate</li>
                <li>Flexible</li>
                <li>Document-orientated</li>
                <li>Great Communicator</li>
                <li>Persistent</li>
                <li>Quick Thinker</li>

              </ul>

            </div>

            <div class="col-md-6 text-justify">

              <ul>
                <li>Loyal</li>
                <li>Honest</li>
                <li>Reliable</li>
                <li>Great Response Times</li>
                <li>Strategic Mind</li>
                <li>Responsible</li>
              </ul>

            </div>

      </div>
    </div>

    </div>


  </div> <!-- container -->
</div> <!-- Work Life wrapper -->

<!-- Personal Life -->
<div class="wrapper work-life ">
  <div class="container">

    <h2 class="text-center">Personal Life</h2>
    <div class="row">


      <div class="col-md-3 text-justify">
        <p>What I am like:</p>
        <ul>
          <li>Relaxed</li>
          <li>Reliable</li>
          <li>Honest</li>
          <li>Witty</li>

        </ul>

      </div>

      <div class="col-md-3 text-justify">

        <p>Things I like:</p>
        <ul>
          <li>Anime</li>
          <li>Games</li>
          <li>Coding</li>
          <li>Relaxing</li>

        </ul>

      </div>


      <div class="col-md-6 text-justify">
        <p>
          I am a very relaxed person outside of work. I like helping people when I can and playing games with my
          friends who have moved overseas.
          I watch anime and play games in my spare time, unless I have something better to do like work. I have made
          many good decisions in my life and live comfortably.
          I do not have many dislikes.
        </p>

      </div>


    </div>


  </div> <!-- container -->
</div> <!-- Personal wrapper -->

<!-- Additional Information -->
<div class="wrapper additional-info  backgroundGrey fontWhite">
    <div class="container">

      <h2 class="text-center">Additional Information</h2>

          <div class="row">
              <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action active" id="list-personality-list" data-toggle="list" href="#list-personality" role="tab" aria-controls="personality">Personality Type</a>
                  <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Awards</a>
                </div>
              </div>
              <div class="col-8">
                <div class="tab-content fontBlack" id="nav-tabContent">

                  <div class="tab-pane fade show active " id="list-personality" role="tabpanel" aria-labelledby="list-personality-list">
                      <ul class="list-group list-group-flush ">
                          <li class="list-group-item">Personality Type: <a href="https://www.16personalities.com/intj-personality">INTJ</a></li>
                          <li class="list-group-item">Zodiac: Scorpio</li>
                          <li class="list-group-item">Chinese Zodiac: Dragon</li>
                        </ul>

                  </div>
                  <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                      <ul class="list-group list-group-flush ">
                          <li class="list-group-item">ABBOTT’S COLLEGE:<br>
                              Annual award for Computer Studies Higher Grade</li>
                          <li class="list-group-item">BOSMANSDAM HIGH SCHOOL:<br>
                              <b>Student Monitor:</b> <br>
                              Grade 9 and 10 top achievers award in Mathematics<br>
                              Member of the debate society<br>
                              Member of chess society
                          </li>
                          <li class="list-group-item">BOSMANSDAM PRIMARY SCHOOL:<br>
                            <b>Lead Computor Monitor:</b><br>
                              Lead the computer monitor group.<br>
                              Responsible for upgrading of schools computers for student's use</li>
                        </ul>

                  </div>
                </div>
              </div>
            </div>

    </div> <!-- container -->
  </div> <!-- Additional Information wrapper -->
