/* Header */
.backgroundGrey {background-color: #343a40;}
.fontWhite {color: #fff;}
div.container {padding: 3% 0;}
h1,h2,h3 {text-transform: uppercase;}
h1 {padding: 5% 0;}
h2,h3,h4 {padding: 2% 0; margin-bottom: 2%;}
h4 {font-weight: 400;}
img {max-height: 44%;}

/* About me */

