<!-- Experience Life -->
<div class="wrapper experience backgroundGrey fontWhite">
  <div class="container backgroundGrey">
      <h2 class="text-center">Coding Experience</h2>
      <h3 class="text-center">Languages</h3>
      <div class="skill-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <div class="progress">
              <div class="progress-bar active" role="progressbar" aria-valuenow="  45" aria-valuemin="0" aria-valuemax="100"
                style="width: 90%"><span class="skill-name"><strong>Html5</strong></span></div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 text-left">24 Months+</div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <div class="progress">
              <div class="progress-bar active" role="progressbar" aria-valuenow="  45" aria-valuemin="0" aria-valuemax="100"
                style="width: 80%"><span class="skill-name"><strong>Css3</strong></span></div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 text-left">24 Months+</div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <div class="progress">
              <div class="progress-bar active" role="progressbar" aria-valuenow="  45" aria-valuemin="0" aria-valuemax="100"
                style="width: 70%"><span class="skill-name"><strong>JavaScript</strong></span></div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 text-left">24 Months+</div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <div class="progress">
              <div class="progress-bar active" role="progressbar" aria-valuenow="  45" aria-valuemin="0" aria-valuemax="100"
                style="width: 70%"><span class="skill-name"><strong>jQuery</strong></span></div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 text-left">24 Months+</div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <div class="progress">
              <div class="progress-bar active" role="progressbar" aria-valuenow="  45" aria-valuemin="0" aria-valuemax="100"
                style="width: 60%"><span class="skill-name"><strong>PHP</strong></span></div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 text-left">12 Months+</div>
        </div>
        <h3 class="text-center">Frameworks</h3>
        <div class="row">
          <div class="col-md-10 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <div class="progress">
              <div class="progress-bar active" role="progressbar" aria-valuenow="  45" aria-valuemin="0" aria-valuemax="100"
                style="width: 90%"><span class="skill-name"><strong>Bootstrap 3</strong></span></div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 text-left">18 Months+</div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <div class="progress">
              <div class="progress-bar active" role="progressbar" aria-valuenow="  45" aria-valuemin="0" aria-valuemax="100"
                style="width: 70%"><span class="skill-name"><strong>Wordpress</strong></span></div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 text-left">10 Months+</div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <div class="progress">
              <div class="progress-bar active" role="progressbar" aria-valuenow="  45" aria-valuemin="0" aria-valuemax="100"
                style="width: 50%"><span class="skill-name"><strong>CS Cart</strong></span></div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 text-left">6 Months+</div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
            <div class="progress">
              <div class="progress-bar active" role="progressbar" aria-valuenow="  45" aria-valuemin="0" aria-valuemax="100"
                style="width: 40%"><span class="skill-name"><strong>Angular 6</strong></span></div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 text-left">2 Months</div>
        </div>
      </div>
  </div> <!-- container -->
</div> <!-- Experience wrapper -->
